body {
    color: white;
<<<<<<< HEAD
    background-color: black;
    font-family: 'Sacramento', cursive;
  font-size: 32px;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
=======
    background-color: #333;
    font-size: 150%;
    font-family: 'Satisfy', cursive;
    margin: 5em 25%;
>>>>>>> 457613b024c4b166ef1a507bf1c5e6c05f03b2a9
}